<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <style>
        .examination_swiper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: .2rem 0 0 0;
        }

        .icon_box {
            text-align: center;
            flex-shrink: 0;
            width: .8rem;
            box-shadow: -4px 2px 8px 0 rgba(163, 163, 163, 0.25);
            padding: .1rem 0;
        }

        .icon_box .iconfont {
            color: #BBBBBB;
            font-size: 18px;
        }

        .swiper-container {
            flex: 1;
        }

        .iphonex {
            height: 4rem;
        }

        header {
            width: 100%;
            height: auto;
            font-size: 18px;
            color: #424242;
            overflow: hidden;
        }

        .index_headers {
            line-height: 0.44rem;
            color: #424242;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.2rem 0.4rem;
        }

        .icon-shezhi {
            color: #fff;
            font-size: 20px;
            font-weight: normal;
        }

        .center {
            font-weight: bold;
            color: #fff;
        }

        .myhead {
            background-image: url("../../assets/image/mybg.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <header class="" v-if="index==0" @click="openSearch">
        <div class="index_headers">
            <div></div>
            <!--<div class="win_mid">{{winTitle}}</div>-->
            <span class="input">请输入您要搜索的内容</span>
            <span class="iconfont icon-sousuo"></span>
        </div>
        <!--<span class="input">请输入您要搜索的内容</span>-->
        <!--<span class="iconfont icon-sousuo"></span>-->
    </header>
    <header class="" v-else-if="index==1">
        <div class="index_headers">
            <span></span>
            <span>订单中心</span>
            <div class="close_left" @click="relFn"><span class="iconfont icon-fenxiangfeiji"></span></div>
        </div>
        <div class="order_head" @click="openSearch">
            <span class="input">请输入您要搜索的内容</span>
            <span class="iconfont icon-sousuo"></span>
        </div>
        <div class="examination_swiper" v-if="cate_list.length>0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" @click="changeSwiper(index,item.id)" v-for="(item,index) in cate_list">
                        <span :class="{'examination_active':ind==index}">{{item.cate_name}}</span>
                    </div>
                </div>
            </div>
            <div class="icon_box" v-show="cate_list.length>7"><span class="iconfont icon-arrow-right"></span></div>
        </div>
    </header>
    <header v-else-if="index==2" class="myhead">
        <div class="index_headers">
            <span></span>
            <span class="center">个人中心</span>
            <span class="iconfont icon-shezhi" @click="go_view"></span>
        </div>
    </header>
    <footer id="footer">
        <div class="footer_item" :class="{footer_item_active:index==0}" @click="changeTab(0)">
            <i :class="['iconfont' ,index==0?'icon-shouye1':'icon-shouye']"></i>
            <span>首页</span>
        </div>
        <div class="footer_item" :class="{footer_item_active:index==1}" @click="changeTab(1)">
            <i :class="['iconfont' ,index==1?'icon-dingdanzhongxin1':'icon-dingdanzhongxin']"></i>
            <span>订单中心</span>
        </div>
        <div class="footer_item" :class="{footer_item_active:index==2}" @click="changeTab(2)">
            <i :class="['iconfont' ,index==2?'icon-gerenzhongxin':'icon-gerenzhongxin_']"></i>
            <span>个人中心</span>
        </div>
    </footer>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script type="text/javascript" src="../../assets/js/swiper-3.4.2.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            index: 0,
            headerH: '',
            footerH: '',
            mySwiper: {},
            ind: 0,
            cate_list: [
                {
                    "id": '',
                    "cate_name": "全部",
                    "pic": ""
                }
            ],
            cate_count: 0,
            ajpush: null,
            extras: 0
        },
        created: function () {
            apiready = function () {
                api.removeLaunchView();
                exit_app();
                app._getCateList();
                //导航轮播
                api.openFrameGroup({
                    name: 'index',
                    rect: {
                        x: 0,
                        y: app.headerH,
                        w: 'auto',
                        h: api.winHeight - app.headerH - app.footerH
                    },
                    background: '#fff',
                    scrollEnabled: false,
                    index: app.index,
                    preload: 0,
                    reload: true,
                    frames: [{
                        name: 'index_f',
                        url: '../index/index_f.html',
                        bounces: true,
                        reload: true
                    }, {
                        name: 'order_f',
                        url: '../order/order_f.html',
                        bounces: true,
                        reload: true
                    }, {
                        name: 'my_f',
                        url: '../my/my_f.html',
                        bounces: false,
                        reload: true
                    }
                    ]
                }, function (ret, err) {
                    app.index = ret.index;
                    var index = ret.index;
                    if (app.index == 2) {
                        app.headerH = $api.offset($api.dom('header')).h;
                        api.setStatusBarStyle({
                            style: 'light',
                        });
                        api.setFrameGroupAttr({
                            name: 'index',
                            rect: {
                                x: 0,
                                y: app.headerH,
                                w: 'auto',
                                h: api.winHeight - app.footerH - app.headerH
                            }
                        });
                    } else {
                        app.headerH = $api.offset($api.dom('header')).h;
                        api.setStatusBarStyle({
                            style: 'dark'
                        });
                        api.setFrameGroupAttr({
                            name: 'index',
                            rect: {
                                x: 0,
                                y: app.headerH,
                                w: 'auto',
                                h: api.winHeight - app.headerH - app.footerH
                            }
                        });
                        app.mySwiper = new Swiper('.examination_swiper .swiper-container', {
                            slidesPerView: 'auto',
                            slideToClickedSlide: true,
                            observer: true,
                            observeParents: true,
                            freeMode: true,
                            initialSlide: 0,
                            nextButton: '.icon_box'
                        });
                    }
                    // //alert(index)
                });
                $api.fixStatusBar($api.dom('header'));
                $api.fixTabBar($api.byId('footer'));
                // app.headerH = $api.offset($api.dom('header')).h;
                app.footerH = $api.offset($api.dom('footer')).h;
                api.setWinAttr({
                    slidBackEnabled: false
                });
                // 推送
                var systemType = api.systemType
                app.ajpush = api.require('ajpush');
                api.addEventListener({name: 'pause'}, function (ret, err) {
                    app.onPause();//监听应用进入后台，通知jpush暂停事件
                });
                api.addEventListener({name: 'resume'}, function (ret, err) {
                    app.onResume();//监听应用恢复到前台，通知jpush恢复事件
                });
                app.ajpush.setListener(function (ret) {
                        // alert(JSON.stringify(ret))
                        // var id = ret.id;
                        // var title = ret.title;
                        // var content = ret.content;
                        // var extra = ret.extra;
                        if (ret && ret.extras) {
                            app.extras = ret.extras;
                            app.ajpush.setBadge({
                                badge: app.extras.length
                            });
                        }
                    }
                );
                // 在Android平台
                api.addEventListener({
                    name: 'appintent'
                }, function (ret, err) {
                    // alert(JSON.stringify(ret))
                    if (ret && ret.appParam.ajpush) {
                        if (ret) {
                            if (app.extras.length > 0) {
                                app.extras = app.extras - 1;
                                app.ajpush.setBadge({
                                    badge: app.extras
                                });
                            } else {
                                app.ajpush.setBadge({
                                    badge: 0
                                });
                            }

                            var ajpush = ret.appParam.ajpush;
                            var id = ajpush.id;
                            var title = ajpush.title;
                            var content = ajpush.content;
                            var extra = ajpush.extra;
                            // var content = ajpush.content;
                            // var extra = ajpush.extra;
                            app.index = 1;
                            api.setFrameGroupIndex({
                                name: 'index',
                                index: 1
                            });
                        }
                    }
                });
                // 在iOS平台
                api.addEventListener({
                    name: 'noticeclicked'
                }, function (ret, err) {
                    // alert(JSON.stringify(ret))
                    if (ret) {
                        if (app.extras.length > 0) {
                            app.extras = app.extras - 1;
                            app.ajpush.setBadge({
                                badge: app.extras
                            });
                        } else {
                            app.ajpush.setBadge({
                                badge: 0
                            });
                        }
                        var ajpush = ret.value;
                        // var content = ajpush.content;
                        // var extra = ajpush.extra;
                        // app.go_detail(ajpush.extras.order_id, ajpush.extras.title)
                        app.index = 1;
                        api.setFrameGroupIndex({
                            name: 'index',
                            index: 1
                        });
                    }
                })
            }
        },
        methods: {
            // 切换底部导航
            changeTab: function (res) {
                app.index = res;
                api.setFrameGroupIndex({
                    name: 'index',
                    index: res
                });
                api.sendEvent({
                    name: 'changtab',
                    extra: {
                        tabindex: res
                    }
                });
            },
            // 搜索页
            openSearch: function () {
                api.openWin({
                    name: 'search_w',
                    url: '../index/search_w.html'
                });
            },
            // 改变滑块
            changeSwiper: function (index, cate_id) {
                app.ind = index;
                api.sendEvent({
                    name: 'cateChange',
                    extra: {
                        cate_id: cate_id
                    }
                });
            },
            // 获取分类列表getCateList
            _getCateList: function () {
                ApiAjax('api/getAllCateList', {}, function (ret, err) {
                    app.cate_list = app.cate_list.concat(ret.data.list);
                    app.cate_count = ret.data.count;
                })
            },
            // 跳转发布
            relFn: function () {
                if (getToken()) {
                    openView('order_rel', 'order/order_rel', '发布订单')
                } else {
                    openView('login', 'login/login', '登录')
                }
            },
            go_view: function () {
                if (getToken()) {
                    openView('my_set', 'my/my_set', '账号设置', false, false, false, {
                        set: 1
                    })
                } else {
                    openView('login', 'login/login', '登录')
                }
            },
            //统计-app恢复
            onResume: function () {

                app.ajpush.onResume();
                console.log('JPush onResume');
            },
            //统计-app暂停
            onPause: function () {
                app.ajpush.onPause();
                console.log('JPush onPause');
            },
            // 清除消息
            clearpush: function () {
                var param = {id: -1};
                app.ajpush.clearNotification(param, function (ret) {
                    if (ret && ret.status) {
                        //success
                    }
                });
            }
        }
    })
</script>
