<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/LArea.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="mod_address_slide show" @click="closeCity">
        <div class="mod_address_slide_main type_flex" @click.stop>
            <div class="mod_address_slide_head control_box">
                <span class="" @click="closeCity">取消</span>
                <span class="right" @click="send_city">确定</span>
            </div>
            <div class="mod_address_slide_body">
                <ul class="mod_address_slide_tabs_1">
                    <li :class="[showProvince?'cur':'']" @click="showp"><span>{{province?province:'请选择'}}</span></li>
                    <li :class="[showCity?'cur':'']" @click="showc"><span>{{city?city:'请选择'}}</span></li>
                    <li :class="[showDistrict?'cur':'']" @click="showd"><span>{{district?district:'请选择'}}</span></li>
                </ul>
                <ul class="mod_address_slide_list_2" v-show="showProvince">
                    <li :class="indp==index?'on':''" v-for="(item,index) in listp" @click="chooseP(index)">
                        {{item.name}}
                    </li>
                </ul>
                <ul class="mod_address_slide_list_2" v-show="showCity">
                    <li :class="indc==index?'on':''" v-for="(item,index) in listc" @click="chooseC(index)">
                        {{item.name}}
                    </li>
                </ul>
                <ul class="mod_address_slide_list_2" v-show="showDistrict">
                    <li :class="indd==index?'on':''" v-for="(item,index) in listd" @click="chooseD(index)">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            showProvince: true,
            showCity: false,
            showDistrict: false,
            province: '',
            city: '',
            district: '',
            indp: '',
            indc: '',
            indd: '',
            listp: [],
            listc: [],
            listd: []
        },
        created: function () {
            apiready = function () {
                app._getProvinceList();
            }
        },
        methods: {
            // 获取省市getProvinceList
            _getProvinceList: function () {
                ApiAjax('api/getProvinceList', {}, function (ret) {
                    app.listp = ret.data;
                });
            },
            // 获取市列表getCityList
            _getCityList: function (province_code) {
                ApiAjax('api/getCityList', {province_code: province_code}, function (ret) {
                    app.listc = ret.data;
                })
            },
            // 获取区列表getRegionList
            _getRegionList: function (city_code) {
                ApiAjax('api/getRegionList', {
                    city_code: city_code
                }, function (ret) {
                    app.listd = ret.data;
                });
            },
            chooseP: function (index) {
                app.indp = index;
                app._getCityList(app.listp[index].code);
                app.province = app.listp[index].name;
                app.city = '';
                app.district = '';
                app.showc();
            },
            chooseC: function (index) {
                app.indc = index;
                app._getRegionList(app.listc[index].code);
                app.city = app.listc[index].name;
                app.district = '';
                app.showd();
            },
            chooseD: function (index) {
                app.indd = index;
                app.district = app.listd[index].name
            },
            showp: function () {
                app.showProvince = true;
                app.showCity = false;
                app.showDistrict = false;
                app.listc = [];
                app.listd = [];
            },
            showc: function () {
                app.showProvince = false;
                app.showCity = true;
                app.showDistrict = false;
                app.listd = [];
            },
            showd: function () {
                app.showProvince = false;
                app.showCity = false;
                app.showDistrict = true;
            },

            send_city: function () {
                // if (app.indp >= 0 && app.indc >= 0 && app.indd >= 0) {
                if (parseInt(app.indp, 10) >= 0) {
                    api.sendEvent({
                        name: 'seachcity',
                        extra: {
                            province: app.province,
                            city: app.city,
                            district: app.district,
                            province_code: app.listp[app.indp].code,
                            city_code: app.listc.length > 0 && parseInt(app.indc, 10) >= 0 ? app.listc[app.indc].code : '',
                            region_code: app.listd.length > 0 && parseInt(app.indd, 10) >= 0 ? app.listd[app.indd].code : '',
                        }
                    });
                    api.closeFrame();
                } else {
                    toastMsg('至少选择一个省，市，区')
                }
            },
            closeCity: function () {
                api.sendEvent({
                    name: 'seachcity',
                    extra: {
                        province: '',
                        city: '',
                        district: '',
                        province_code: '',
                        city_code: '',
                        region_code: '',
                    }
                });
                api.closeFrame();
            }
        }
    })
</script>
