<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <style type="text/css">
        .search_his {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .4rem .25rem;
            font-size: 12px;
            color: #999999;
        }

        .his {
            font-size: 15px;
            color: #333333;
            font-weight: bold;
        }

        .his_list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 .73rem;

        }

        .his_list span {
            color: #fff;
            font-size: 11px;
            background: rgba(231, 36, 36, .8);
            padding: 6px 15px;
            border-radius: 5px;
            margin: 0 .5rem .44rem 0;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div v-if="order_list.length>0">
        <div class="new_title">搜索结果</div>
        <div class="new_list">
            <div class="new_item" v-for="item in order_list" @click="go_detail(item.id,item.title)">
                <div class="new_img">
                    <img :src=" item.pics?imgUrl+item.pics:'../../assets/image/noimg.png'" alt="">
                </div>
                <div class="new_right">
                    <div>
                        <div class="new_name"><span>{{item.title}}</span><span class="new_num">{{item.num}}件</span>
                        </div>
                        <div class="new_city">{{item.address}}</div>
                    </div>
                    <div class="new_date">发布日期：{{item.create_time}}</div>
                </div>
            </div>
            <!--<div v-if='showmore&&order_list.length>=perpage' class="enddata">{{showtext}}</div>-->
        </div>
    </div>
    <div v-else>
        <div class="search_his"><span class="his">历史搜索</span><span @click="clearS">清空历史搜索记录</span></div>
        <div class="his_list"><span v-for="(item,index) in history_list"
                                    @click="history_fn(index)">{{item.search}}</span>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script type="text/javascript" src="../../assets/js/swiper-3.4.2.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            order_list: [],
            cate_count: 0,
            page: 1,
            perpage: 10,
            cate_id: '',
            keyword: '',
            flg: false,
            isFixed: false,
            // offsetTop: 0,
            showmore: false,
            showtext: '加载中...',
            offline: false,
            history_list: []
        },
        created: function () {
            apiready = function () {
                api.addEventListener({
                    name: 'search_keyword'
                }, function (ret, err) {
                    app.keyword = ret.value.keyword;
                    if (app.keyword) {
                        app._getOrderList(app.keyword);
                    }
                });
                api.addEventListener({
                    name: 'showHis'
                }, function (ret, err) {
                    app.keyword = ret.value.keyword;
                    if (app.keyword) {
                        app._getOrderList(app.keyword)
                    }
                });
                app._searchLogList()
            }
        },
        methods: {
            // 搜索结果
            _getOrderList: function (keyword) {
                ApiAjax('api/getOrderList', {
                    page: app.page,
                    perpage: app.perpage,
                    cate_id: app.cate_id,
                    search: keyword
                }, function (ret, err) {
                    if (ret.data.length > 0) {
                        app.order_list = ret.data;
                    } else {
                        app._getOrderList('');
                    }
                });
                app._searchLog();
            },
            // 清除历史记录
            clearS: function () {
                ApiAjax('api/clearSearchLog', {
                    token: getToken(),
                }, function (ret, err) {
                    if (ret.code == 1) {
                        toastMsg('清除成功')
                    } else {
                        toastMsg(ret.message)
                    }
                });
                app._searchLogList();
            },
            history_fn: function (index) {
                app.keyword = app.history_list[index].search;
                app._getOrderList()
            },
            // 查询历史
            _searchLogList: function () {
                ApiAjax('api/searchLogList', {
                    token: getToken(),
                    search: app.search
                }, function (ret, err) {
                    if (ret.code == 1) {
                        app.history_list = ret.data;
                    }
                });
            },
            // 存储关键字
            _searchLog: function () {
                ApiAjax('api/searchLog', {
                    token: getToken(),
                    search: app.keyword
                }, function (ret, err) {

                });
            },
            // 订单详情
            go_detail: function (id, title) {
                if (getToken()) {
                    api.openWin({
                        name: 'index_detail_w',
                        url: './index_detail_w.html',
                        bgColor: '#fff',
                        pageParam: {
                            id: id,
                            title: title,
                            type: 0
                        }
                    });
                } else {
                    openView('login', 'login/login', '账号登录')
                }
            },
        }
    })
</script>
