<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/api.css">
    <style type="text/css">
        .new_title {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            padding: .15rem .25rem;
            background-color: #fff;
        }

        .new_list {
            padding: .5rem 0;
        }
    </style>
</head>
<body>
<div id='loadStart'></div>
<div id="app" v-cloak>
    <div class="new_title">我收藏的订单</div>
    <div class="new_list" v-if="order_list.length>0">
        <div class="new_item" v-for="(item,index) in order_list" @click="go_detail(item.id,item.title)" :key="item.id">
            <div class="new_img"><img :src=" item.pics?imgUrl+item.pics:'../../assets/image/noimg.png'" alt="">
            </div>
            <div class="new_right">
                <div>
                    <div class="new_name"><span>{{item.title}}</span><span class="new_num">{{toWan(item.num)}}件</span>
                    </div>
                    <div class="new_city">{{item.address}}</div>
                </div>
                <div class="new_date">发布日期：{{item.create_time}}</div>
            </div>
        </div>
        <div v-if='showmore&&order_list.length>=perpage' class="enddata">{{showtext}}</div>
    </div>
    <div v-else class="nodata_box">
        <div class="nodata_box_img"><img src="../../assets/image/noorder.png" alt=""></div>
        <div class="nodata_box_text">暂无收藏</div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            showmore: false,
            order_list: [],
            page: 1,
            perpage: 10,
            showtext: '加载中...',
        },
        created: function () {
            apiready = function () {
                app._myCollectList();
                // 下拉刷新
                api.setRefreshHeaderInfo({
                    // loadingImg: 'widget://assets/image/head.png',
                    loadingImg: 'widget://assets/image/logo.png',
                    bgColor: '#fff',
                    textColor: '#F11C15',
                    textDown: '下拉刷新...',
                    textUp: '释放更新...',
                    showTime: true
                }, function (ret, err) {
                    app.order_list = [];
                    app.page = 1;
                    app.showtext = '加载中...';
                    app._myCollectList();
                    api.refreshHeaderLoadDone()
                });
                // 上拉加载
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50            //设置距离底部多少距离时触发，默认值为0，数字类型
                    }
                }, function (ret, err) {
                    app.page++;
                    app._myCollectList();
                });
            }
        },
        methods: {
            // 订单详情
            go_detail: function (id, title) {
                if (getToken()) {
                    api.openWin({
                        name: 'index_detail_w',
                        url: '../index/index_detail_w.html',
                        bgColor: '#fff',
                        pageParam: {
                            id: id,
                            title: title,
                            type: 3
                        }
                    });
                }
                else {
                    openView('login', 'login/login', '账号登录')
                }
            },
            _myCollectList: function () {
                ApiAjax('my/myCollectList', {
                    token: getToken(),
                    page: app.page,
                    perpage: app.perpage
                }, function (ret, err) {
                    loadEnd('my_collection');
                    // alert(JSON.stringify(ret))
                    if (ret.code == 1) {
                        var order_list = ret.data;
                        if (ret.data.length > 0) {
                            app.order_list = app.order_list.concat(order_list);
                            app.showmore = true;
                        } else {
                            app.showtext = '到底了';
                        }
                    } else {
                        toastMsg(ret.message)
                    }
                });
            }
        }
    })
</script>
