<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <style>
        .set .login_btn {
            width: 45%;
        }
    </style>
</head>
<body class="my_body">
<!--<div id="loadStart"></div>-->
<div id="app" v-cloak class="set">
    <div class="input_box box">
        <span class="iconfont icon-yanzhengma"></span>
        <input type="password" placeholder="请输入您的新密码（6-12位）" v-model="password">
    </div>
    <div class="input_box">
        <span class="iconfont icon-yanzhengma"></span>
        <input type="password" placeholder="请再次输入您的密码（6-12位）" v-model="repassword">
    </div>
    <div class="login_btn" @click="set_save">{{btn_text}}</div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            password: '',
            repassword: '',
            btn_text: localStorage.btn_text || '保存'
        },
        created: function () {
            apiready = function () {

            }
        },
        methods: {
            // 修改密码
            set_save: function () {
                if (app.password == '') {
                    toastMsg('请输入密码')
                } else if (app.password < 6 && app.password > 12) {
                    toastMsg('密码位数设置错误')
                } else if (app.password !== app.repassword) {
                    toastMsg('俩次密码不一致')
                } else {
                    var post = {
                        password: app.password,
                        token: getToken(),
                    };
                    ApiAjax('my/changePassword', post, function (ret, err) {
                        if (ret.code == 1) {
                            toastMsg(app.btn_text + '成功');
                            setTimeout(function () {
                                api.closeWin();
                            }, 1500)
                        } else {
                            toastMsg(ret.message)
                        }
                    });
                }

            }

        }
    })
</script>
