<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>忘记密码</title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css">-->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1220513_njjndgm1akh.css">
</head>
<body>
<div id="app" v-cloak>
    <!--<header class="index_header" id="header" >-->
    <!--<span class="title" @click="closeWindow('login_forgot')"><span class="iconfont icon-fanhui"></span> 忘记密码</span>-->
    <!--</header>-->
    <div class="input_box box">
        <span class="iconfont icon-shouji"></span>
        <input type="number" placeholder="请输入您的手机号" v-model="phone">
    </div>
    <div class="input_box">
        <span class="iconfont icon-yanzhengma"></span>
        <input type="number" placeholder="请输入验证码" v-model="code">
        <span class="code_btn">获取验证码</span>
    </div>
    <div class="login_btn" @click="reset">重置密码</div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            phone: '',
            code: '',
        },
        created: function () {
            apiready = function () {

            }
        },
        methods: {
            // 重置
            reset: function () {
                openView('login_reset', 'login/login_reset', '重置密码')
                // if (app.phone == '') {
                //     toastMsg('请输入您手机号')
                // } else if (app.code == '') {
                //     toastMsg('请输入验证码')
                // } else {
                //     openView('login_reset', 'login/login_reset', '重置密码')
                // }
            },
        }
    })
</script>
