<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>验证码登录</title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/css/api.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css">-->
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
</head>
<body>
<div id="app" v-cloak>
    <form>
        <div class="input_box box">
            <span class="iconfont icon-shouji"></span>
            <input type="number" placeholder="请输入您的手机号" v-model.trim="phone">
        </div>
        <div class="input_box">
            <span class="iconfont icon-yanzhengma"></span>
            <input type="text" placeholder="请输入您的验证码" v-model="code" maxlength="6">
            <span v-if="show" class="code_btn" @click="getCode">获取验证码</span>
            <span v-else class="code_btn">{{count}}S后可重发</span>
        </div>
        <div class="input_box red_text"><span @click="codelogin">密码登录</span><span @click="forgot_fn">忘记密码</span></div>
        <div class="login_btn" @click="login">注册/登录</div>
    </form>
    <div class="login_agree">注：首次手机号验证码形式登录视为注册并登录</div>
    <div class="login_agree" @click="go_agree">登录即代表您同意<span>《加工宝用户协议》</span></div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            phone: '',
            code: '',
            timer: null,
            count: '',
            show: true
        },
        created: function () {
            apiready = function () {

            }
        },
        methods: {
            // 登录
            login: function () {
                if (app.phone == '') {
                    toastMsg('请输入您的手机号')
                } else if (!/^1\d{10}$/gi.test(app.phone)) {
                    toastMsg('请输入正确的手机号')
                } else if (app.code == '') {
                    toastMsg('请输入验证码')
                } else {
                    ApiAjax('Login/phoneLogin', {
                        tel: app.phone,
                        code: app.code
                    }, function (ret, err) {
                        if (ret.code == 1) {
                            $api.setStorage('fac_token', ret.data);
                            app._checkComplete(ret.data)
                        } else {
                            toastMsg(ret.message)
                        }
                    });
                }
            },
            // 获取登录验证码
            getCode: function () {
                if (!/^1\d{10}$/gi.test(app.phone)) {
                    toastMsg('手机号不正确')
                } else {
                    const TIME_COUNT = 60;
                    var post = {
                        tel: app.phone,
                    };
                    ApiAjax('Login/loginSms', post, function (ret, err) {
                        if (ret.code == 1) {
                            if (!app.timer) {
                                app.count = TIME_COUNT;
                                app.show = false;
                                app.timer = setInterval(function () {
                                    if (app.count > 0 && app.count <= TIME_COUNT) {
                                        app.count--;
                                    } else {
                                        app.show = true;
                                        clearInterval(app.timer);
                                        app.timer = null;
                                    }
                                }, 1000)
                            }
                        } else {
                            toastMsg(ret.message)
                        }
                    });
                }
            },
            // 验证信息是否完善
            _checkComplete: function (token) {
                ApiAjax('api/checkComplete', {token: token}, function (ret, err) {
                    if (ret.code == 1) {
                        if (ret.data) {
                            api.openWin({
                                name: 'index_win',
                                url: '../common/index_win.html',
                                animation: {
                                    type: "fade",                //动画类型（详见动画类型常量）
                                    duration: 300
                                }
                            });
                        } else {
                            api.openWin({
                                name: 'login_info',
                                url: './login_info.html',
                                slidBackEnabled: false
                            });
                        }
                    } else {
                        toastMsg(ret.message)
                    }
                })
            },
            // 去忘记密码
            forgot_fn: function () {
                openView('login_forgot', 'login/login_forgot', '忘记密码')
            },
            // 去密码登录
            codelogin: function () {
                api.closeWin({
                    animation: "reveal"
                });
            },
            // 跳过去首页
            go_index: function () {
                api.openWin({
                    name: 'index_win',
                    url: '../common/index_win.html',
                    animation: {
                        type: "fade",                //动画类型（详见动画类型常量）
                        duration: 300
                    }
                });
            },
            // 查看协议
            go_agree: function () {
                api.openWin({
                    name: 'login_agree',
                    url: './login_agree.html',
                });
            }
        }
    })
</script>
