<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <script src="../../assets/js/fontsize.js"></script>
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/api.css">
    <style type="text/css">
        body {
            background-color: #F9F9FA;
        }

        .rel_btn {
            position: fixed;
            bottom: 2.5rem;
            /*left: 0;*/
            right: .3rem;
            /*margin: 0 auto;*/
            z-index: 1000;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            align-items: center;
            color: #F11C15;
            transition: ease-in-out .3s;

        }

        .rel_btn .iconfont {
            font-size: 22px;
            font-weight: bold;
        }

        .touchop {
            opacity: 0;
        }

        .iconbox {
            background-color: #F11C15;
            color: #fff;
            border-radius: 50%;
            width: .8rem;
            height: .8rem;
            text-align: center;
            line-height: .8rem;
        }
    </style>
</head>
<body>
<div id='loadStart'></div>
<div id="app" v-cloak>
    <div class="hr"></div>
    <div class="new_list" v-if="flg&&order_list.length>0" @touchmove="touchmove">
        <div class="new_item" v-for="item in order_list" @click="go_detail(item.id,item.title)">
            <!--<div class="new_img">-->
            <!--<img :src="imgUrl+item.pics" alt="" v-if="item.pics">-->
            <!--<span class="iconfont icon-zanwutupian"></span>-->
            <!--</div>-->
            <div class="new_img">
                <img :src=" item.pics?imgUrl+item.pics:'../../assets/image/noimg.png'" alt="">
            </div>
            <div class="new_right">
                <div>
                    <div class="new_name"><span>{{item.title}}</span><span class="new_num">{{toWan(item.num)}}{{item.unit}}</span>
                    </div>
                    <div class="new_city">{{item.address}}</div>
                </div>
                <div class="new_date">发布日期：{{item.create_time}}</div>
            </div>
        </div>
        <div v-if='showmore&&order_list.length>=perpage' class="enddata">{{showtext}}</div>
    </div>
    <div v-else-if="flg&&order_list.length==0" class="nodata">暂无订单</div>
    <div v-if="offline" class="nodata">
        <div class="nodataimg"><img src="../../assets/image/loading3.gif" alt=""></div>
        <div>你的网络好像不太给力，请稍后再试</div>
        <div class="nodatabtn" @click="_getOrderList"><span class="iconfont icon-shuaxin"></span><span>重新加载</span></div>
    </div>
    <div :class="['rel_btn', touch?'touchop':'']" @click="re_fn">
        <div class="iconbox"><span class="iconfont icon-addTodo-nav"></span></div>
        <div>发布</div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/public.js"></script>
<script type="text/javascript" src="../../assets/js/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            cate_id: '',
            order_list: [],
            page: 1,
            perpage: 6,
            search: '',
            showmore: false,
            showtext: '加载中...',
            flg: false,
            offline: false,
            touch: false
        },
        created: function () {
            apiready = function () {
                app.cate_id = api.pageParam.cate_id;
                app._getOrderList();
                // 监听切换分类
                api.addEventListener({
                    name: 'cateChange'
                }, function (ret, err) {
                    toastMsg('加载中…')
                    app.cate_id = ret.value.cate_id;
                    app.page = 1;
                    app.order_list = [];
                    app.flg = false;
                    app._getOrderList();
                    // //alert(JSON.stringify(ret.value));
                });
                // 监听断网
                api.addEventListener({
                    name: 'offline'
                }, function (ret, err) {
                    app.offline = true;
                });
                // 下拉刷新
                api.setRefreshHeaderInfo({
                    // loadingImg: 'widget://assets/image/head.png',
                    // loadingImg: 'widget://assets/image/loading.gif',
                    loadingImg: 'widget://assets/image/logo.png',
                    bgColor: '#fff',
                    textColor: '#F11C15',
                    textDown: '下拉刷新...',
                    textUp: '释放更新...',
                    showTime: true
                }, function (ret, err) {
                    app.order_list = [];
                    app.page = 1;
                    app.flg = false;
                    app._getOrderList();
                    api.refreshHeaderLoadDone()
                });
                // 上拉加载
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50            //设置距离底部多少距离时触发，默认值为0，数字类型
                    }
                }, function (ret, err) {
                    app.page++;
                    app._getOrderList();
                });
                api.addEventListener({
                    name: 'changtab'
                }, function (ret, err) {
                    if (ret.value.tabindex == 1) {
                        app.order_list = [];
                        app.page = 1;
                        app.flg = false;
                        app._getOrderList();
                    }
                });
            }
        },
        methods: {
            // 获取订单列表getOrderList
            _getOrderList: function () {
                ApiAjax('api/getOrderList', {
                    page: app.page,
                    perpage: app.perpage,
                    cate_id: app.cate_id,
                    search: app.search
                }, function (ret, err) {
                    loadEnd('order_f');
                    app.flg = true;
                    var order_list = ret.data;
                    if (ret.data.length > 0) {
                        app.order_list = app.order_list.concat(order_list);
                        app.showmore = true;
                    } else {
                        app.showtext = '到底了';
                    }
                });
            },
            // 订单详情
            go_detail: function (id, title) {
                if (getToken()) {
                    api.openWin({
                        name: 'index_detail_w',
                        url: '../index/index_detail_w.html',
                        bgColor: '#fff',
                        pageParam: {
                            id: id,
                            title: title,
                            type: 1
                        }
                    });
                } else {
                    openView('login', 'login/login', '账号登录')
                }
            },
            // 搜索页
            openSearch: function () {
                api.openWin({
                    name: 'search_w',
                    url: '../index/search_w.html',
                });
            },
            touchmove: function () {
                app.touch = true;
                setTimeout(function () {
                    app.touch = false;
                }, 1500)
            },
            re_fn: function () {
                if (getToken()) {
                    openView('order_rel', 'order/order_rel', '发布订单')
                } else {
                    openView('login', 'login/login', '登录')
                }
            }
        }
    })
</script>
